---
swagger: "2.0"
info:
  description: "VAPI"
  version: "1.0.0"
  title: "VAPI"
  contact:
    email: "manybahtpage@gmail.com"
host: "vapi.many.win"
tags:
- name: "Default"
  description: "Laibaht The Vtuber !"
  externalDocs:
    description: "Youtube Channel"
    url: "https://www.youtube.com/channel/UCR1Htb-H1-tus7UPotPh69A"
- name: "Vtubers Thai"
  description: "(ย้อนหลังสูงสุด 7 วัน)"
- name: "Vtubers All"
  description: "ดึงข้อมูลคลิปวีทูบเบอร์ทั้งหมดทั่วโลก (ย้อนหลังสูงสุด 1 วัน)"
- name: "Vtubers Hololive"
  description: "ดึงข้อมูลคลิปวีเฉพาะ Hololive (ย้อนหลังสูงสุด 7 วัน)"
- name: "Vtubers Nijisanji"
  description: "ดึงข้อมูลคลิปวีเฉพาะ Nijisanji (ย้อนหลังสูงสุด 7 วัน)"
schemes:
- "https"
- "http"
paths:
  /:
    get:
      tags:
      - "Default"
      description: "ดึงข้อมูลเจ้าหลายบาท"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /live/:
    get:
      tags:
      - "Default"
      description: "ดึงข้อมูลไลฟ์เจ้าหลาย และไลฟ์ตั้งล่วงหน้าในอนาคต"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/thai/:
    get:
      tags:
      - "Vtubers Thai"
      description: "ดึงข้อมูลคลิปวีไทยสูงสุด 500 ข้อมูล"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/thai/live:
    get:
      tags:
      - "Vtubers Thai"
      description: "ดึงข้อมูลไลฟ์วีไทย ณ ตอนนี้ และตั้งไลฟ์ในอนาคต"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/thai/stats/:
    get:
      tags:
      - "Vtubers Thai"
      description: "ดึงสถิติข้อมูลคลิปวีไทยคราว ๆ"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/all/:
    get:
      tags:
      - "Vtubers All"
      description: "ดึงข้อมูลคลิปวีทั้งหมดสูงสุด 500 ข้อมูล"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/all/live:
    get:
      tags:
      - "Vtubers All"
      description: "ดึงข้อมูลไลฟ์ทั้งหมด ณ ตอนนี้ และตั้งไลฟ์ในอนาคต"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/all/stats/:
    get:
      tags:
      - "Vtubers All"
      description: "ดึงสถิติข้อมูลคลิปวีทั้งหมดคราว ๆ"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/holo/:
    get:
      tags:
      - "Vtubers Hololive"
      description: "ดึงข้อมูลคลิปวี Hololive สูงสุด 500 ข้อมูล"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/holo/live:
    get:
      tags:
      - "Vtubers Hololive"
      description: "ดึงข้อมูลไลฟ์ Hololive ณ ตอนนี้ และตั้งไลฟ์ในอนาคต"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/holo/stats/:
    get:
      tags:
      - "Vtubers Hololive"
      description: "ดึงสถิติข้อมูลคลิปวี Hololive ทั้งหมดคราว ๆ"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/niji/:
    get:
      tags:
      - "Vtubers Nijisanji"
      description: "ดึงข้อมูลคลิปวี Nijisanji สูงสุด 500 ข้อมูล"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/niji/live:
    get:
      tags:
      - "Vtubers Nijisanji"
      description: "ดึงข้อมูลไลฟ์ Nijisanji ณ ตอนนี้ และตั้งไลฟ์ในอนาคต"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
  /other/niji/stats/:
    get:
      tags:
      - "Vtubers Nijisanji"
      description: "ดึงสถิติข้อมูลคลิปวี Nijisanji ทั้งหมดคราว ๆ"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
externalDocs:
  description: "Base API"
  url: "https://vapi.many.win"
